<div class="virgin section js-virgin">
	<p class="virgin__text">Virgin</p>

	<div class="virgin__cursor cursor" id="virgin">
		<div class="cursor__center"></div>
		<div class="cursor__leave cursor__leave--1"></div>
		<div class="cursor__leave cursor__leave--2"></div>
		<div class="cursor__leave cursor__leave--3"></div>
		<div class="cursor__leave cursor__leave--4"></div>
		<div class="cursor__leave cursor__leave--5"></div>
		<div class="cursor__leave cursor__leave--6"></div>
		<div class="cursor__leave cursor__leave--7"></div>
		<div class="cursor__leave cursor__leave--8"></div>
		<div class="cursor__leave cursor__leave--9"></div>
		<div class="cursor__leave cursor__leave--10"></div>
		<div class="cursor__leave cursor__leave--11"></div>
		<div class="cursor__leave cursor__leave--12"></div>
		<div class="cursor__leave cursor__leave--13"></div>
		<div class="cursor__leave cursor__leave--14"></div>
	</div>

</div>