<div class="clingy section js-clingy">
	<p class="clingy__text">Clingy</p>

	<div class="clingy__cursor cursor" id="clingy">
		<div class="cursor__main"></div>
		<div class="cursor__follower"></div>
	</div>

</div>