@font-face {
  font-family: 'Icon';
  src: url('/fonts/icons/icons.eot');
  src: url('/fonts/icons/icons.eot') format('embedded-opentype'),
    url('/fonts/icons/icons.woff2') format('woff2'),
    url('/fonts/icons/icons.woff') format('woff'),
    url('/fonts/icons/icons.ttf') format('truetype'),
    url('/fonts/icons/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}