<div class="sunrise section js-sunrise">
	
	<div class="sunrise__cursor cursor" id="sunrise"></div>
	
	<div class="sunrise__shape shape" id="sunrise">
		<div class="shape__item shape__item--1"></div>
		<div class="shape__item shape__item--2"></div>
		<div class="shape__item shape__item--3"></div>
	</div>

	<div class="sunrise__content content">
		<p class="content__text">sunrise</p>
	</div>	

</div>