<div class="gravity section js-gravity">
	
	<div class="gravity__cursor cursor" id="gravity">
		<div class="cursor__main"></div>
		<div class="cursor__follower"></div>
	</div>

	<div class="gravity__content">
		<p class="content__text">gravity</p>
	</div>	

</div>